html {
    background-color: black;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#clock {
    font-size: 5rem;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: blueviolet;
}
